body{
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
	flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: border-box
}
h1, h2, h3, h4, h5, h6{
    margin:0;
}

/*контейнер инфо*/
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
	position: relative;
}
/*Фон*/
.intro{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/01.jpg")  no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro-inner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto -90px;
    text-align: center;
	
	
}
.color-text{
	color:#ffa500;
	font-size: 34px;
}
.intro-title {
    color:#ffffff;
    line-height: 1.6;
	font-size: 18px;
}
.intro-title:after {
	content: "";
	width: 60px;
	height: 3px;
	margin: 60px auto;
	background:#fff;
	font-size: 24px;
}

.suptitle {
	font-size: 55px;
	color:white;
	text-transform: uppercase;
	font-size: 34px;
	text-align: center;
}

/*Шапка*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}
.overlay{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
    height: 100vh;
}
 .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.header-logo{
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
    color:#fff;
}
/*навигация*/
.nav{
    font-size 14px;
    text-transform: uppercase;  
}
.nav-link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
    
}
.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background: orange;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav-link:hover{
    color: orange;
}   
    
}
.nav-link:hover:after{
    display: block;
}
/*--Кнопка--*/

.button{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	display: inline-flex;
	margin-top: 160px;
	justify-content: center;
	text-align: center;
}

.arrow {
    width: 30px;
    height: 30px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(135deg);
	justify-content: center;
	text-align: center;
	margin: 8px;
}

/*-------------------next page--------------*/

.body-img {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	display: flex;
	
} 
.textcols{
	width: 48%;
	display: inline-block;
	margin-left: 20px;
	margin: 60px;
}
.text3 {
	font-size: 35px;	
}

.subtitle {
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
}
span {
	font-size: 20px;
	width: 100%;
    height: 100vh;
}
.border-bottom {
	float: left;
	width: 5%;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
	position: absolute;
	margin-top: -35px;
	margin-left: 10px;
}
.nav2 {
	text-decoration: none;
	
	
}
.nav-intro2{
	line-height: 1.6;
	font-size: 18px;
	font-family: 'Cormorant Garamond', serif;
	display: inline;
	width: 500px;
}
.nav-link2{
	color: black;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 
	width: 100%;
    height: 100vh;
	
}
/*------------NEXT PAGE-----------*/
.bg {
	background: url(../img/03.jpg) no-repeat center;
	background-size: 100%;
	background-size:cover;
}
.inform {
	color: white;
	font-size: 36px;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 90px;
}
.personal {
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	
}
.sub-text {
	text-align: center;
}
.row {
	display: flex;
	text-align: center;
	width: 90%;
	color: white;
	margin: 50px;
	font-family: 'Quicksand', sans-serif;	
}
.column {
	margin: 30px;
}
.column-photo {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	
}
.border-inform {
	display: inline-block;
	width: 5%;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
}
.border-intro {
	display: inline-block;
	width: 3%;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
	opacity: 0.4;
	text-align: center;
}
/*------------NEXT PAGE-----------*/

.information {
	text-align: center;
	margin: 0;
	padding: 0;
}
.title4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Cormorant Garamond', serif;
}
.sub-title4 {
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	margin: 0 auto;
	text-align: center;
	width: 900px;
	
	
}
.row2 {
	color: black;
	display: flex;
	
}
.column2 {
	margin: 30px;
	text-align: center;
}
.column-photo2 {
	border-radius: 50%;
	border: 4px solid #ffa500;
}
h4 {
	text-transform: uppercase;
	font-size: 14px;
}
.inform2 {
	margin-top: 40px;
	margin-bottom: -10px;
	font-size: 28px;
}
.border-inform2 {
	display: inline-block;
	width: 5%;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
}
.border-intro2 {
	display: inline-block;
	width: 3%;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
	opacity: 0.6;
	text-align: center;
}
.sub-text {
	font-family: 'Cutive Mono', monospace;
}
	/*------------NEXT PAGE-----------*/
.line {
	border: 1px solid #000000;	
}
.footer {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

.border-inform2 {
	display: inline-block;
	width: 60px;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
	justify-content: center;
	text-align: center;
}
.border-intro2 {
	display: inline-block;
	width: 40px;
	height: 4px;
	border-radius: 30px;
	background-color: #ffa500;
	opacity: 0.6;
	justify-content: center;
	text-align: center;
}
.sup-title4{
	font-size: 12px;
	font-family: 'Playfair Display', serif;
	margin: 0 auto;
	text-align: center;
	width: 900px;
}
.login {
	display: flex;
	justify-content: center;
	width: 100%;
	
}
.acc{
	margin: 0 auto;
	font-size: 18px;
}
.email{
 height: 60%;	
}
.psw{
 height: 60%;	
}
.message-text {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 40px;
	display: block;
}
.btn{
	width: 900px;
}
.button2 {
	background: #ffa500;
	height: 40px;
	width: 100px;
	border: none;
	color: white;
	text-align: center;
	float: right;
	display: block;
}
.dno {
	background-color:darkslategray;
	margin-top: 40px;
	display: inline-flex;
	font-size: 16px;
	width: 100%;
	justify-content: center;
}
.footer2 {
	color: white;
	text-align: center;
	width: 900px;
}